.logo {
  width: 96px;
}
.navbar {
  transition: padding .2s ease;
  .btn {
    transition: padding .2s ease;
  }
}

.fixedSocialMedia {
  right: 16px;
  z-index: 100;
  &-link {
    font-size: 48px;
  }
}