.banner {
  height: 560px;
  background-image: url('../images/photo-1612157777902-5382bc6e864b.jpeg');
  background-position: center bottom;
  @include media-breakpoint-up(md) {
    height: 582px;
  }
}

.relaxImg {
  height: 210px;
  @include media-breakpoint-up(md) {
    height: 266px;
  }
  @include media-breakpoint-up(lg) {
    height: 444px;
  }
}
.relaxImg-sm {
  height: 210px;
  @include media-breakpoint-up(md) {
    height: 117px;
    margin-bottom: 30px;
  }
  @include media-breakpoint-up(lg) {
    height: 207px;
  }
}

.recommandationSwiper {
  height: calc(370px + 48px); //要使用 swiper grid 似乎就是只能寫死高度才能正常作用
  @include media-breakpoint-up(md) {
    height: calc(118px * 2 + 16px);
    overflow: visible;
  }
  @include media-breakpoint-up(lg) {
    overflow: hidden;
  }

  .swiper-slide {
    height: 118px;
  }
  .swiper-button-prev, .swiper-button-next {
    top: auto;
    bottom: 0;
    &::after {
      content: none;
    }
    .material-icons {
      font-size: 40px;
    }
  }
  .swiper-button-prev {
    left: 5px;
  }
  .swiper-button-next {
    right: 5px;
  }
}


