.fw-medium {
  font-weight: 500 !important;
}

.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}

.placeholder-primary::placeholder {
  color: $primary !important;
}
.placeholder-secondary::placeholder {
  color: $secondary !important;
}

.position-md-absolute {
  @include media-breakpoint-up(md) {
    position: absolute;
  }
}
.position-lg-absolute {
  @include media-breakpoint-up(lg) {
    position: absolute;
  }
}

.translate-md-middle-x {
  @include media-breakpoint-up(md) {
    transform: translateX(-50%);
  }
}
.translate-lg-middle-x {
  @include media-breakpoint-up(lg) {
    transform: translateX(-50%);
  }
}
.translate-lg-middle-y {
  @include media-breakpoint-up(lg) {
    transform: translateY(-50%);
  }
}



/* hover */

.hover-text-white:hover {
  color: #fff !important;
}

.hover-underline {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .25s ease;
  }
  &:hover::before {
    transform: scaleX(100%);
  }
}
.hover-underline-transparent {
  &::before {
    background-color: transparent !important;
  }
}
.hover-underline-secondary {
  &::before {
    background-color: $secondary !important;
  }
}
.hover-underline-dark {
  &::before {
    background-color: $dark !important;
  }
}
.hover-underline-lg-dark {
  &::before {
    @include media-breakpoint-up(lg) {
      background-color: $dark !important;
    }
  }
}

.w-48px {
  width: 48px;
}
.w-md-auto {
  @include media-breakpoint-up(md) {
    width: auto !important;
  }
}
.w-md-68px {
  @include media-breakpoint-up(md) {
    width: 68px;
  }
}
.w-md-96px {
  @include media-breakpoint-up(md) {
    width: 96px;
  }
}

.h-48px {
  height: 48px;
}
.h-628px {
  height: 628px;
}
.h-md-68px {
  @include media-breakpoint-up(md) {
    height: 68px;
  }
}
.h-md-96px {
  @include media-breakpoint-up(md) {
    height: 96px;
  }
}

.object-fit-cover {
  object-fit: cover;
}
.object-position-bottom {
  object-position: bottom;
}

.resize-none {
  resize: none;
}

.outline-primary-4 {
  outline: 4px solid $primary;
}

.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}
/* .aspect-ratio-4x3 {
  aspect-ratio: 4/3;
} */
.aspect-ratio-7x5 {
  aspect-ratio: 7/5;
}
.aspect-ratio-md-2x1 {
  @include media-breakpoint-up(md) {
    aspect-ratio: 2/1;
  }
}
/* .aspect-ratio-md-auto {
  @include media-breakpoint-up(md) {
    aspect-ratio: auto;
  }
}
.aspect-ratio-lg-4x3 {
  @include media-breakpoint-up(lg) {
    aspect-ratio: 4/3;
  }
} */

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-md-1 {
  @include media-breakpoint-up(md) {
    font-size: $h1-font-size !important;
  }
}
.fs-md-4 {
  @include media-breakpoint-up(md) {
    font-size: $h4-font-size !important;
  }
}
.fs-md-6 {
  @include media-breakpoint-up(md) {
    font-size: $h6-font-size !important;
  }
}
.fs-lg-3 {
  @include media-breakpoint-up(lg) {
    font-size: $h3-font-size !important;
  }
}
.fs-lg-5 {
  @include media-breakpoint-up(lg) {
    font-size: $h5-font-size !important;
  }
}

.flex-md-nowrap {
  @include media-breakpoint-up(md) {
    flex-wrap: nowrap !important;
  }
}
.flex-lg-nowrap {
  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap !important;
  }
}


